:root {
    --background-color: #948D73;
    --code-box-background-color: #E0D6AF;
}



.code-background-color{
    background-color: var(--code-box-background-color);
}


body {
    background: var(--background-color);
}

.text-shadow {
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.highlight-orange-text {
    color: var(--ICONS-ORANGE);
}

.highlight-white-text {
    color: var(--PURE-WHITE);
}



.margin-bot-med {
    margin-bottom: 1rem;
}

.divider {
    height: 1px;
    width: auto;
    background: var(--ICONS-ORANGE);
}

.margin-bot-lrg {
    margin-bottom: 4rem;
}

.text-black {
    color: var(--PURE-BLACK);
    font-size: 1.6rem;
}

.text-white {
    color: var(--PURE-WHITE);
    font-size: 1.6rem;
}

.margin-top-lrg {
    margin-top: 4rem;
}

.highlight-code {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--WHITE-SMOKE);
    font-weight: 800;
    width: inherit;
}

.components-representation-block {
    background-color: var(--code-box-background-color);
    border: 1px solid var(--ICONS-ORANGE);
    width: 100%;
}

.display-none {
    display: none;
}

.code-repre-padd {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn+.btn {
    margin-left: 1rem;
}

.flex-space-evenly-center-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-space-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/*----------------- navigation menu */

.component-navigation {
    height: 13rem;
    width: 100%;
    box-shadow: 0 2px 3px -1px rgb(0 0 0 / 10%);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.navigation-pri-part {
    display: flex;
}

.logo-container {
    margin-right: 1.5rem;
    margin-left: 3rem;
}

.navigation-pri-part>h1 {
    font-size: 7rem;
    margin: 0;
    align-self: flex-end;
}

.navigation-end-part {
    align-self: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.nav-btn-icon {
    font-size: 3rem;
    transition: all ease-in .3s;
}


.nav-btn-icon+.nav-btn-icon {
    margin-left: 1rem;
}

.nav-btn-icon:hover {
    color: var(--ICONS-ORANGE);
}

/* full -body css */
.universal-container {

    display: grid;
    height: 100%;
    grid-template-columns: 9rem 22rem 85rem 18.7rem;
    grid-template-areas:
        "... aside-nav  main ...";
}

.aside-nav {
    grid-area: aside-nav;

}

.aside-link {
    font-size: 2rem;
}

.aside-container-pri {
    margin-left: 2rem;
}

.aside-container-pri h2 {
    border-bottom: 3px solid var(--ICONS-ORANGE);
}

.aside-ul-li {
    list-style: none;
    /* transition: all 5s ease-in-out; */
}

.aside-ul-li :hover {
    margin-left: 2rem;
}

/* active li anchors  */
.active-aside-link {
    margin-left: 2rem;
    text-decoration: underline solid 2px var(--ICONS-ORANGE);
}

.aside-ul-li:focus {
    margin-left: 2rem;
    color: var(--ICONS-ORANGE);

}

.universal-container-main {
    grid-area: main;
    margin-top: 1.3rem;
}

.doc-content {
    margin-left: 2rem;
}
/*----------------------------- Responsiveness-----------------------------------  */
@media only screen and (max-width:1200px){

    .universal-container {

        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2rem;
        grid-template-areas:
            "aside-nav  main main main main ...";
    }


}

@media only screen and (max-width:800px) {
    html {
        font-size: 100%;
    }
    /* Heading resizing */
    .navigation-pri-part>h1{
        font-size: 5rem;
    }
    /* centering CL name */

    .component-navigation{
        justify-content: flex-start;
    }
    .logo-container{
        align-self: center;
       
    }
    /* Content div resizing */
    .universal-container {
        margin-right: 1rem;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
            " main main main main ";
    }
    /* removing logo */
    .logo-container>img {
        display: none;
    }
    /* removing socials */
    .navigation-end-part {
        display: none;
    }
    /* removing aside */
    aside {
        display: none;
    }
}

/* for mobile view */


@media only screen and (max-width:500px) {
    html {
        font-size: 62.5%;
    }
    /* Heading resizing */
    .navigation-pri-part>h1{
        font-size: 5rem;
    }
    /* centering CL name */

    .component-navigation{
        justify-content: flex-start;
    }
    .logo-container{
        align-self: center;
       
    }
    /* Content div resizing */
    .universal-container {
        margin-right: 1rem;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
            " main main main main ";
    }
    /* removing logo */
    .logo-container>img {
        display: none;
    }
    /* removing socials */
    .navigation-end-part {
        display: none;
    }
    /* removing aside */
    aside {
        display: none;
    }
}


